extends template 

block vars 
    -var title = "Register Page"
    -var company = "Valtech"

block body
    if error
        p ERROR #{error} 
    h2 Create an account
    form(method="post")
        div(class="mb-3")
            label(for="firstname" class="form-label") First Name 
            input(type="text" name="firstname" class="form-control" required=true id="firstname")
        
        div(class="mb-3")
            label(for="lastname" class="form-label") Last Name
            input(type="text" name="lastname" class="form-control" required=true id="lastname")     
            
        div(class="mb-3")
            label(for="email" class="form-label") Email
            input(type="email" name="email" class="form-control" required=true id="email")     
        
        div(class="mb-3")
            label(for="password" class="form-label") Password
            input(type="password" name="password" class="form-control" required=true id="password")     
        
        div(class="mb-3")
            input(type="submit" value="Register" class="btn btn-primary")